<section
    class="snap-start flex flex-col w-full md:container mx-auto px-10 md:px-24 items-center md:items-stretch justify-center md:min-h-screen gap-y-10"
>
    <h2
        class="text-4xl sm:text-5xl md:text-6xl font-light italic mt-32 md:mt-0 leading-tight md:leading-snug w-full split-text"
    >
        <font class="flex gap-y-2 gap-x-1 content">
            <b class="font-extrabold">$38M</b>
            <div class="counter-description">in payments /</div>
        </font>
        <font class="flex flex-col md:flex-row gap-y-2 gap-x-1">
            <b class="font-extrabold">4,660+</b>
            <div class="counter-description">vendors /</div>
        </font>
        <font class="flex flex-col md:flex-row gap-y-2 gap-x-1">
            <b class="font-extrabold">20+</b>
            <div class="counter-description">currencies /</div>
        </font>
        <font class="flex flex-col md:flex-row gap-y-2 gap-x-1">
            <b class="font-extrabold">20+</b>
            <div class="counter-description">Countries</div>
        </font>
    </h2>
</section>

<style>
    @media (max-width: 768px) {
        .content {
            flex-direction: column!important;
        }
        .counter-description {
            display: block !important;
        }
    }
    .content {
        flex-direction: row;
    }

    .counter-description {
        display: inline-block;
    }
</style>
