<section
    class="snap-start flex flex-col w-full md:container mx-auto px-10 md:px-24 items-center md:items-stretch justify-center md:min-h-screen gap-y-10"
>
    <h2
        class="text-5xl md:text-6xl font-extralight italic mt-32 md:mt-0 leading-tight md:leading-snug w-full split-text"
    >
        <font class="block md:inline">
            <b class="font-extrabold counter-value">$38M</b> in payments /
        </font>
        <font class="block md:inline">
            <b class="font-extrabold counter-value">4,660+</b> vendors /
        </font>
        <font class="block md:inline">
            <b class="font-extrabold counter-value">20+</b> currencies /
        </font>
        <font class="block md:inline">
            <b class="font-extrabold counter-value">20+</b> Countries
        </font>
    </h2>
</section>
