<section
    class="snap-start flex flex-col w-full md:container mx-auto px-10 md:px-24 items-start md:items-stretch justify-center md:min-h-screen gap-y-10 my-20 md:my-0"
>
    <h2 class="text-5xl md:text-6xl italic mt-32 md:mt-0 split-text">
        <b class="font-bold">Transparent</b><br />pricing
    </h2>
    <p class="text-4xl md:text-5xl italic font-extralight w-full leading-8 md:leading-normal fade-in">
        Just pay a <span
            class="block sm:inline w-max bg-gradient-to-r from-primary to-secondary text-black pt-3 pb-3 md:pt-1 md:pb-3 px-3 rounded-br-3xl my-1 md:my-0"
            >very low</span
        > transaction fee
    </p>
</section>
