---
import { steps } from "@/enum/data";
---

<section
    class="snap-start flex flex-col w-full md:container mx-auto px-10 md:px-24 items-start md:items-stretch justify-start md:justify-center pt-20 md:pt-32 pb-16 md:pb-36 gap-y-6 md:gap-y-8 md:min-h-screen"
>
    <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl split-text font-light leading-tight">
        How <b class="font-bold italic">it works.</b>
    </h2>
    <p class="text-lg md:text-xl fade-in">
        Influencer Funds simplifies mass payments to influencers and agencies
        with a platform that's easy for both you and your vendors.
    </p>
    <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-start justify-start gap-5 md:gap-x-5 fade-in"
    >
        {
            steps.map((item, index) => (
                <div class="flex flex-col items-start justify-start gap-y-3 md:gap-y-5 w-full">
                    <div class="flex flex-row items-center justify-center w-full h-full">
                        <div class="w-28 md:w-36 h-20 md:h-24 bg-primary text-white flex flex-col items-start justify-center text-5xl md:text-7xl font-bold px-4 md:px-6 rounded-tl-3xl rounded-tr-3xl">
                            {index + 1}
                        </div>
                        <img
                            class="w-32 h-32 sm:w-36 sm:h-36 md:w-40 md:h-40 lg:w-44 lg:h-44 xl:w-48 xl:h-48 2xl:w-52 2xl:h-52 -ml-14 sm:-ml-16 md:-ml-18 lg:-ml-20"
                            src={item.image}
                            alt={item.title}
                        />
                    </div>
                    <div class="w-full">
                        <h3 class="text-xs sm:text-sm md:text-base lg:text-lg 2xl:text-xl font-bold italic">
                            {item.title}
                        </h3>
                        <p class="text-xs sm:text-xs md:text-sm 2xl:text-base">{item.description}</p>
                    </div>
                </div>
            ))
        }
    </div>
</section>
