---
import Layout from "@/layouts/Layout.astro";
import Hero from "./components/Hero.astro";
import Relief from "./components/Relief.astro";
import Step from "./components/Step.astro";
import Pricing from "./components/Pricing.astro";
import Final from "./components/Final.astro";
import Counters from "./components/Counters.astro";
---

<Layout image="/images/cover.webp">
    <div class="snap-container">
        <Hero />
        <Relief />
        <Step />
        <Counters />
        <Pricing />
        <Final />
    </div>
</Layout>

<style>
    .snap-container {
        width: 100%;
        height: 100%;
    }
</style>
