  <!-- Modal de equivalencias -->
  <div id="equivalencias-modal" class="equivalencias-modal">
    <div class="modal-content">
      <h2>Selecciona el tipo de equivalencia</h2>
      <div class="modal-buttons">
        <a href="/equivalencias/internas" class="modal-btn">Equivalencias Internas</a>
        <a href="/equivalencias/externas" class="modal-btn">Equivalencias Externas</a>
      </div>
      <button class="close-modal" id="close-modal">✕</button>
    </div>
  </div>